AQEMUrc
KDE/
PlasmaDiscoverUpdates
QtProject.conf
Trolltech.conf
akregatorrc
aqemu/
arkrc
baloofileinformationrc
bluedevilglobalrc
dconf/
discord/
discoverrc
dolphinrc
emaildefaults
fontconfig/
gtk-3.0/
gtk-4.0/
gtkrc
gtkrc-2.0
gwenviewrc
i3/
kactivitymanagerd-statsrc
kactivitymanagerdrc
katemetainfos
katerc
kateschemarc
katevirc
kcminputrc
kconf_updaterc
kde.org/
kdeconnect/
kded5rc
kdedefaults/
kdeglobals
kfontinstuirc
kglobalshortcutsrc
khotkeysrc
khtml/
kmail2rc
kmixrc
konq_history
konquerorrc
konsolerc
konsolesshconfig
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
libaccounts-glib/
libreoffice/
mimeapps.list
okularpartrc
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma-welcomerc
plasmanotifyrc
plasmarc
plasmashellrc
powermanagementprofilesrc
pulse/
session/
spectaclerc
systemsettingsrc
user-dirs.dirs
user-dirs.locale
webengineurlinterceptoradblockrc
xsettingsd/
htop/
kconf_updaterc.lock
systemmonitorrc
