[user]
	email = kevin.won91@gmail.com
	name = Kevin Won
[init]
	defaulBranch = main
	defaultBranch = main
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[core]
	editor = nvim
